.las
{
	margin-left:15%;
	margin-top:35%;
}
input[type="file"] {
    display: none;
}




.post
{
	cursor:pointer;
	color:white;
	background-color:#00008b;
	border:none;
	height:5%;
	width:13%;
	float:center;
left:10px;
top:9px;
padding: 10px 10px 23px 8px;
border-width:1px;
border-radius:5px;
margin-left:86%; 
margin-top:-14%; 
text-align:center;
font-size:18px;

}
.post:hover {background-color: #3e8e41}
.post:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.imdwid
{
margin-left:15px; 
top: 0px;
}
.tded
{
float:middle;
 margin-left:60px;
 margin-top:-30px;
 top:0px;
 bottom:15px;
 font-size:15px;
 background-color:#FFF;
 padding: 3px 4px 0px 5px;
border: none;
overflow:show;
resize:none;
}
.imup
{
margin-left:160px; 
}
.sttext
{
	height:17%;
	width:44%;
	margin-left:199px; 
    top: 120px;
	background-color:#FFF;
	border-left:solid #d2d2d2 1px;
    border-right:solid #d2d2d2 1px;
    border-top:none;
    border-bottom:solid #d2d2d2 1px;


	 

}

.titlete
{
	margin-right:0px; 
	margin-top:6px;
	 top: 110px;
	font-size:20px;

}
.geetha
{
margin-top:24px;
	margin-right:-100px; 

width:75px;
}

#rr
{
	color:#ff9933;
	size:50px;
	 font-size: 27px;
	 color: #3333cc;
	  overflow: hidden;
    float: left;
}

.roll
{
 
 float: right;
 margin-right:43%;
   top: 205px;
	   color:#c0c0c0;
}


.enterpost
{
 float: left;
  margin-right:49%;
    top: 255px;
	 left: 105px;
    color:solid black;
	font-size:15px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
word-spacing: -5px;

}


.proed
{
	float:left;
	 margin-left:15%;
}
.pro
{
	float:left;
	 margin-left:22%;

}
.dateeditt
{
	float:left;
	color:#c0c0c0;
	font-size:16px;
	margin-top:0%;
		margin-left:4%;

}
.adateed
{
	 float: right;
 margin-top:6px;
  margin-right:65%;
    top: 230px;
	  margin-left:5px;
	color:black;;
	font-size:20px;
}
.dateedit
{
	color:#c0c0c0;
	font-size:16px;
	margin-top:-2px;
}
.dateedi
{
	color:#c0c0c0;
	font-size:16px;
	margin-top:-2px;
}
.adate
{

float: right;
 margin-top:6px;
  margin-right:65%;
    top: 230px;
	  margin-left:5px;
	color:black;;
	font-size:20px;
}
.tt
{
	border:none;
	height:auto;
	width:620px;
	font-size:17px;
}
.enterpos
{
	float: left;
  margin-left:10%;
  margin-top:3%;
   background-color:black;
	
}



.im
{
	
	margin-left:350px;
	margin-top:40px;
	
}
body
{
	background-color:#f9f9f9;
}


.prooof
{
	 height:30px;
	 width:70px;
	float: left;
	position: fixed;
    top: 120px;
     left: 890px;
	font-size: 20px;
	vertical-align: middle;
  margin-bottom: 0.75em;
  
  
}
.text2 
	{
 float: right;
    top: 120px;
   left: 965px;
	font-size: 20px;
	vertical-align: middle;
  margin-bottom: 0.75em;
  position: fixed;
  height:auto;
  width:auto;
}
.text1 
	{
 height:auto;
  width:auto;
 float: right;
    top: 145px;
	 left: 965px;
    color:#c0c0c0;
	font-size: 17px;
	vertical-align: middle;
  margin-bottom: 0.75em;
  position: fixed;


}
hr
	{
    width: 300px;
  
    border-bottom: 0px ;
    position:fixed;
	float: left;
    top: 180px;
	 left: 900px;
    border:0.1px  groove #d2d2d2;
    }
.editt
{
overflow:hidden;
height:auto;
width:auto;
}


.one
{
	background-color:#FFF;
	height:auto;
	width:45%;
	float:left;
	margin-left:15%;
	margin-right:10%;
	padding: 1px 16px 2px 1px;
	border: 1px  groove #d2d2d2;
	
}
.epro
{
		background-color:#FFF;
	height:50%;
	width:45%;
	float:left;
	margin-left:15%;
	margin-right:10%;
}
.lion
{
	background-color:#FFF;
	height:auto;
	width:614px;
	float:left;
	margin-top:2px;
	margin-left:15%;
	margin-right:10%;
	
	 border-left:solid #d2d2d2 1px;
    border-right:solid #d2d2d2 1px;
    border-top:solid #d2d2d2 1px;
    border-bottom:solid #d2d2d2 1px;
}
.lik
{
	height:auto;
	width:614px;
	float:left;
	margin-top:2px;
	margin-left:15%;
}
.para
{
background-color:#FFF;
	height:auto;
	width:auto;
	float:left;
	margin-top:12px;
	margin-left:1%;
	margin-right:10%;
	
 border: none;
}
.onee
{
	height:auto;
	background-color:#FFF;
	width:45%;
	float:left;
	margin-left:15%;
	margin-right:10%;
	border: 1px  groove #d2d2d2;
   

}
.kor
{
	resize:none;
	border:none;
}

.two
{
	background-color:#f9f9f9;
	height:auto;
}

.likearea
{
	height:20%;
	width:38%;
	float:left;
	margin-left:15%;
	margin-right:10%;
}